{% extends '@tina4cms' ~ '/base.twig' %}
{% block headers %}
{% endblock %}


{% block content %}
    <div id="content">
        {% if not session.user %}
            {% do redirect('/cms/login') %}
        {% endif %}
        {% set userRoles = Content.getSecurityAttribute('', session.user.roleId) %}
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                {% if (not userRoles.Content.Pages or userRoles.Content.Pages.visible) %}
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" role="tab" href="#"
                           onclick="loadPage('/rest/V1/crm', 'sub-content')">Categories</a>
                    </li>
                {%endif%}
            </ul>
            <div id="sub-content">
            </div>
            <script>
                loadPage('/rest/V1/crm', 'sub-content');
            </script>
        </div>
    </div>
{% endblock %}